.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
  }

  .text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;

    &:hover {
      animation: rubberBand 1s;
      color: #ffd700;
    }
  }
  
  @for $i from 1 through 35 {
    .text-animate._#{$i} {
      animation-delay: #{$i / 10}s;
    }
  }

  @for $i from 35 through 41{
    .text-animate-hover._#{$i} {
      color: #D60B00;
      text-shadow: #ce231a 1px 0 10px;
    }
  }
    @for $i from 21 through 21{
      .text-animate-hover._#{$i} {
        color: #D60B00;
        text-shadow: #ce231a 1px 0 10px;
      }
  }