.image-fader{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 18%;
    position: relative;
    z-index: 1;
}

.television-img{
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-top: -10%;
}

.image-fader img{
    position: absolute;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
  }
  
  .image-fader img:nth-of-type(1) {
    animation-delay: -4s;
  }
  .image-fader img:nth-of-type(2) {
    animation-delay: -2s;
  }
  /* .image-fader img:nth-of-type(3) {
    animation-delay: 0s;
  } */