.nav-bar{
    height:60px;
    border-bottom: 1px solid white;
}

.logo{
    float: left;
    padding-left: 15px;
}

.nav-routes{
    padding-right: 20px;
}

.nav-routes h4{
    display: inline;
    float: right;
    font-size: small;
    padding-right: 40px;
    color: white;
}